body {
    font-size: var(--ui-size);

    --minor-text-color: var(--light, #464646) var(--dark, #c0c0c0);
    --bg-gradient-start: var(--light, rgba(0, 0, 0, 0.5)) var(--dark, rgb(239, 239, 239, 0.4));
    --bg-gradient-end: var(--light, rgba(0, 0, 0, 0)) var(--dark, rgba(239, 239, 239, 0));
}

/* Nav bar */

#navbar {
    flex: 0 0 14%;
    border-right: medium solid var(--main-border-color);
    max-width: 300px;
    font-size: 1.2em;
    padding: 2px 0.8em;
    box-sizing: border-box;
}

#navbar .new-puzzle {
    width: 6em;
    max-width: 95%;
    height: 2.2em;
    margin: 0.5em auto;
    padding: 0.3em 0;
    text-align: center;
    border: medium solid var(--main-border-color);
    border-radius: 2em;
	background-color: var(--button-color);
    font-size: 1.3em;
    line-height: 1em;
    cursor: pointer;
}

#navbar .new-puzzle .style {
    font-size: 0.75em;
    color: var(--minor-text-color);
}

#navbar .new-puzzle:hover {
    box-shadow: var(--selected-cell-color) 0 0 8px 4px;
}

/* File list */

#files {
    display: flex;
    flex-direction: column;
    flex: 1 0 40%;
    padding: 1em 0.4em;
    height: 100%;
	background-color: var(--content-bg-color);
    overflow-y: scroll;
	scrollbar-width: 0;
}

#files::-webkit-scrollbar {
	display: none;
}

#files::after {
    content: "";
    padding: 1em;
}

#files .file-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: medium solid var(--main-border-color);
    border-radius: 0.5em;
    margin: 0.65em 1em;
    padding: 0.8em 0.2em;
    max-width: min(40em, 95%);
    height: fit-content;
    cursor: pointer;
}

#files .file-entry.selected {
    box-shadow: var(--selected-cell-color) 0 0 6px 5px;
}

#files .file-entry.no-file {
    cursor: default;
}

#files .file-entry .col1 {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    padding-left: 1.2em;
}
#files .file-entry .col2 {
    display: flex;
    flex: 0.1 0.5 15%;
    flex-direction: column;
    text-align: right;
    padding-right: 1.2em;
    margin-right: 0.3em;
    border-right: thin solid var(--main-border-color);
}

#files .file-entry .icon {
    flex: 0 0 auto;
    width: 2.8em;
    height: 2.8em;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0.2em 0.3em;
}

#files .file-entry .icon.open {
    background-image:
        var(--light, url("../res/openfile.svg"))
        var(--dark, url("../res/openfile_dark.svg"))
    ;
}
#files .file-entry .icon.download {
    background-image:
        var(--light, url("../res/download.svg"))
        var(--dark, url("../res/download_dark.svg"))
    ;
}
#files .file-entry .icon.delete {
    background-image: url(../res/trash.svg);
}

#files .file-entry .title {
    font-size: 1.3em;
}

#files .file-entry .author {
    color: var(--minor-text-color);
}

#files .file-entry .size {
    font-size: 1.3em;
}

#files .file-entry .style {
    color: var(--minor-text-color);
    text-transform: capitalize;
}

/* File preview */

#file-info {
    display: none;
    flex-direction: column;
    flex: 1 1 30%;
    padding: 0.5em;
    border-left: medium solid var(--main-border-color);
}

#file-info.active {
    display: flex;
}

#file-info .preview {
    position: relative;
    width: 100%;
    height: 60%;
    background-image: radial-gradient(circle closest-side,
        var(--bg-gradient-start) 0%,
        var(--bg-gradient-start) 50%,
        var(--bg-gradient-end) 100%
    );
}

#file-info .preview iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#file-info .preview::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

#file-info .info table {
    min-width: 90%;
    margin: 0 auto;
    margin-top: 0.4em;
}

#file-info .info table td {
    padding: 0.25em 0;
}

#file-info .info .title {
    font-size: 1.3em;
    text-align: center;
}

#file-info .info .label {
    color: var(--minor-text-color);
}

#file-info .info .value {
    text-align: right;
}
#file-info .info .value[data-value=style] {
    text-transform: capitalize;
}

/* DruBoard logo */

#navbar #druboard-logo {
    width: 4em;
    height: 4em;
    margin: 0.8em auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../res/druboard_logo.svg);
    /* Animation */
    transform: rotate(0) scale(1);
    transition: transform 0.2s;
}

#navbar #druboard-logo:hover {
    transform: rotate(20deg) scale(0.95);
}