body {
	background-color: white;
	color: black;
}

button {
	color: black;
}

/* Toolbar */

#toolbar {
	border-right: medium black solid;
}

button.increment[data-value="1"] {
	background-image: url("../res/plus.svg");
}

button.increment[data-value="-1"] {
	background-image: url("../res/minus.svg");
}

.single-select .selector {
	background-color: rgb(0, 120, 20);
}

button.mode[data-value=mark] {
	background-image: url("../res/mark.svg");
}

button.mode[data-value=write] {
	background-image: url("../res/write.svg");
}

.toolbar-item .option {
	border: medium black solid;
	background-color: white;
}

span.toggle {
	color: rgb(200, 0, 0);
}

span.toggle.on {
	color: rgb(0, 180, 40);
}

/* Header */

#content {
	background-color: honeydew;
}

#header span {
	border: thin black solid;
	color: black;
}

#header span::selection {
	background-color: rgb(94, 168, 241);
}

/* Grid */

#main-grid, #main-grid .cell {
	border: calc(var(--cell-size) * 0.05) solid black;
}

.cell {
	background-color: white;
}

.cell.selected-clue {
	background-color: rgb(148, 200, 255);
}

.cell.correct, .cell.selected-clue.correct {
	background-color: lightgreen;
}

.cell.selected-clue.selected, .cell.selected-clue.correct.selected {
	background-color: rgb(31, 143, 255);
}

.cell.black {
	background-color: black;
}

/* Clues lists */

.clues-section {
	border-left: medium black solid;
}

.clues-section h1.header {
	border-bottom: medium black solid;
}

button.add-item {
	border-bottom: thin black solid;
}

.clues-list div.clue-entry {
	border-bottom: thin black solid;
}

.clue-entry:hover {
	background-color: rgb(150, 200, 255);
}

div.clue-desc::selection {
	background-color: rgb(94, 168, 241);
}

button.moveup {
	background-image: url("../res/uparrow.svg");
}

button.movedown {
	background-image: url("../res/downarrow.svg");
}

button.delete {
	background-image: url("../res/delete.svg");
}

/* Auto-suggest */

#auto-suggest #suggest {
	border-color: black;
	background-image: url("../res/disk.svg");
}

#suggestions div {
	background: white;
	border-color: black;
}

#suggestions div.close {
	background-image: url("../res/close.svg");
}

/* Rentable link */

a#rentable-link .icon {
    background-image: url("../res/rentable_logo.svg");
	box-shadow: 0 0 12px rgba(104, 94, 4, 50%);
}