body {
	background-color: rgb(16, 20, 27);
	color: white;
}

button {
	color: white;
}

/* Toolbar */

#toolbar {
	border-right: medium lightgray solid;
}

button.increment[data-value="1"] {
	background-image: url("../res/plus_dark.svg");
}

button.increment[data-value="-1"] {
	background-image: url("../res/minus_dark.svg");
}

.single-select .selector {
	background-color: rgb(0, 194, 32);
}

button.mode[data-value=mark] {
	background-image: url("../res/mark_dark.svg");
}

button.mode[data-value=write] {
	background-image: url("../res/write_dark.svg");
}

.toolbar-item .option {
	border: medium darkgray solid;
	background-color: rgb(8, 10, 12);
}

span.toggle {
	color: rgb(194, 0, 0);
}

span.toggle.on {
	color: rgb(0, 194, 32);
}

/* Header */

#content {
	background-color: rgb(26, 31, 40);
}

#header span {
	border: thin lightgray solid;
	color: white;
}

#header span::selection {
	background-color: rgb(0, 105, 209);
}

/* Grid */

#main-grid, #main-grid .cell {
	border: calc(var(--cell-size) * 0.05) solid black;
}

.cell {
	background-color: rgb(69, 79, 94);
}

.cell.selected-clue {
	background-color: rgb(126, 53, 86);
}

.cell.correct, .cell.selected-clue.correct {
	background-color: lightgreen;
}

.cell.selected-clue.selected, .cell.selected-clue.correct.selected {
	background-color: rgb(170, 9, 81);
}

.cell.black {
	background-color: black;
}

/* Clues lists */

.clues-section {
	border-left: medium lightgray solid;
}

.clues-section h1.header {
	border-bottom: medium lightgray solid;
}

button.add-item {
	border-bottom: thin lightgray solid;
}

.clues-list div.clue-entry {
	border-bottom: thin lightgray solid;
}

.clue-entry:hover {
	background-color: rgb(126, 53, 86);
}

div.clue-desc::selection {
	background-color: rgb(0, 105, 209);
}

button.moveup {
	background-image: url("../res/uparrow_dark.svg");
}

button.movedown {
	background-image: url("../res/downarrow_dark.svg");
}

button.delete {
	background-image: url("../res/delete_dark.svg");
}

/* Auto-suggest */

#auto-suggest #suggest {
	border-color: white;
	background-image: url("../res/disk.svg");
}

#suggestions div {
	background: black;
	border-color: white;
}

#suggestions div.close {
	background-image: url("../res/close.svg");
}

/* Rentable link */

a#rentable-link .icon {
    background-image: url("../res/rentable_logo.svg");
	box-shadow: 0 0 12px rgba(255, 250, 205, 20%);
}