:root{
	--cell-size: 80px;
	--ui-size: 20px;
}

::selection {
	background-color: transparent;
}

html {
	height: 100%;
}

body {
	background-color: white;
	width: 100%;
	height: 100%;
	cursor: default;
	margin: 0;
	display: flex;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Toolbar */

#toolbar {
	border-right: medium black solid;
	display: flex;
	flex-direction: column;
	font-size: var(--ui-size);
	flex: 0 0 10%;
}

#toolbar .toolbar-item {
	margin: 10% 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1.header {
	font-size: calc(var(--ui-size) * 1.5);
	text-align: center;
	margin: auto;
}

div.input-row {
	display: flex;
	justify-content: space-around;
}

button.increment {
	width: calc(var(--ui-size) * 2);
	height: calc(var(--ui-size) * 2);
	border: none;
	background-size: contain;
	cursor: pointer;
}

button.increment[data-value="1"] {
	background-image: url("../res/plus.svg");
}

button.increment[data-value="-1"] {
	background-image: url("../res/minus.svg");
}

div.input-value {
	font-size: calc(var(--ui-size) * 2);
	margin-top: calc(var(--ui-size) * -0.4);
	text-align: center;
}

div.single-select {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

button.mode {
	width: calc(var(--ui-size) * 3);
	height: calc(var(--ui-size) * 3);
	border: none;
	background-size: contain;
	cursor: pointer;
	flex: 0 0 auto;
}

.single-select .selector {
	width: 100%;
	height: 10%;
	margin-top: 4px;
	background-color: rgb(0, 120, 20);
	flex: 0 0 auto;
	opacity: 0%;
}

.single-select .selector.selected {
	opacity: 100%;
}

button.mode[data-value=mark] {
	background-image: url("../res/mark.svg");
}

button.mode[data-value=write] {
	background-image: url("../res/write.svg");
}

button.option {
	margin: 4px;
	border: medium black solid;
	border-radius: 0;
	background-color: white;
	cursor: pointer;
	font-size: calc(var(--ui-size) * 1.3);
	flex: 0 0;
}

span.toggle {
	font-weight: bold;
	color: rgb(200, 0, 0);
}

span.toggle.on {
	color: rgb(0, 180, 40);
}

/* Header */

#content {
	position: relative;
	height: 100%;
	background-color: honeydew;
	flex: 2 0 55%;
}

#content #header {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 10%;
}

#header span {
	background: none;
	border: thin black solid;
	color: black;
	min-width: 15%;
	text-align: center;
	padding: 2px;
	cursor: text;
}

#header span::selection {
	background-color: rgb(30, 144, 255);
}

span.head-title {
	font-size: calc(var(--ui-size) * 1.5);
}

span.head-byline {
	font-size: calc(var(--ui-size));
}

/* Grid */

#main-grid, #main-grid .cell {
	border: calc(var(--cell-size) * 0.05) solid black;
	border-collapse: collapse;
	margin: 10% auto 0;
}

.cell {
	position: relative;
	background-color: white;
	text-align: center;
	font-size: calc(var(--cell-size) * 0.5);
	font-weight: normal;
	width: var(--cell-size);
	height: var(--cell-size);
}

.cell.selected-clue {
	font-weight: bold;
	background-color: rgb(150, 200, 255);
}

.cell.correct, .cell.selected-clue.correct {
	background-color: lightgreen;
}

.cell.selected-clue.selected, .cell.selected-clue.correct.selected {
	background-color: rgb(30, 144, 255);
}

.cell.black {
	background-color: black;
}

.cell .cell-label {
	position: absolute;
	left: 5%;
	top: 0;
	line-height: 0.8em;
	font-size: calc(var(--cell-size) * 0.35);
	font-weight: normal;
}

/* Clues lists */

.clues-section {
	display: flex;
	flex-direction: column;
	border-left: medium black solid;
	font-size: var(--ui-size);
	flex: 1 1 15%;
}

.clues-section h1.header {
	border-bottom: medium black solid;
	margin: 0;
	padding: 8px 0;
	flex: 0 0;
}

button.add-item {
	border: none;
	border-bottom: thin black solid;
	border-radius: 0;
	cursor: pointer;
	font-size: calc(var(--ui-size) * 1.3);
	flex: 0 0;
}

.clues-section .clues-list {
	flex: 1 0;
	overflow-y: scroll;
}

.clues-list div.clue-entry {
	display: flex;
	align-items: center;
	border-bottom: thin black solid;
	padding: 4px 2px;
}

.clue-entry:hover {
	background-color: rgb(150, 200, 255);
}

.clue-entry span.clue-label {
	font-weight: bold;
	font-size: calc(var(--ui-size) * 1.2);
	margin-left: 4px;
	margin-right: 8px;
}

.clue-entry div.clue-desc {
	flex: 1 0;
	cursor: text;
}

div.clue-desc::selection {
	background-color: rgb(30, 144, 255);
}

.clue-entry button {
	width: var(--ui-size);
	height: var(--ui-size);
	border: none;
	background-size: contain;
	cursor: pointer;
}

button.moveup {
	background-image: url("../res/uparrow.svg");
}

button.movedown {
	background-image: url("../res/downarrow.svg");
}

button.delete {
	background-image: url("../res/delete.svg");
}

/* Auto-suggest */

#auto-suggest {
	position: absolute;
	top: 1%;
	left: 1%;
}

#auto-suggest #suggest {
	position: relative;
	width: calc(var(--ui-size) * 3.5);
	height: calc(var(--ui-size) * 3.5);
	border: thin black solid;
	border-radius: 50%;
	background-image: url("../res/disk.svg");
	background-size: cover;
	background-position: center;
	cursor: pointer;
	z-index: 12;
	/* Animation */
	transform: rotate(0);
	transition: transform 0.5s;
}

#auto-suggest.open-bar #suggest {
	transform: rotate(0.6turn);
}

#auto-suggest #suggestions {
	display: flex;
	position: absolute;
	top: calc(var(--ui-size) * 0.25);
	left: calc(var(--ui-size) * 2);
	height: calc(var(--ui-size) * 3);
	z-index: 10;
	font-size: var(--ui-size);
	/* Animation */
	transform: translateX(-50%) scaleX(0);
	opacity: 0;
	transition: transform 0.4s, opacity 0.4s;
}

#auto-suggest.open-bar #suggestions {
	transform: translateX(0) scaleX(1);
	opacity: 100%;
}

#suggestions div {
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	padding: 0 8px;
	border: black solid;
	border-width: 2px 1px 2px 1px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}

#suggestions div:first-child {
	padding-left: calc(4px + var(--ui-size) * 1.5);
}

#suggestions div.close {
	display: block;
	background: url("../res/close.svg");
	background-size: cover;
	box-sizing: border-box;
	border-right-width: 2px;
	width: calc(var(--ui-size) * 3);
	height: 100%;
	border-radius: 0 50% 50% 0;
}